@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-image: url('./winter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: 'Poppins', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.event-title {
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 40px;
}
.coundown-container {
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
.countdown-item {
  text-align: center;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  padding: 20px;
}
.countdown-item h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
}
@media (max-width: 800px) {
  .event-title {
    margin-top: 20px;
    font-size: 30px;
  }
  .coundown-container {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
